<center><h2>All Customers</h2></center>
<center>
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default" id="navCustomersSalesButton" onclick="CustomersSalesClicked()">Sales</button>
        <button type="button" class="btn btn-default" id="navCustomersAttendanceButton" onclick="CustomersAttendanceClicked()">Vendors Visited</button>
    </div>
</center>
<br />
<div class="row">
    <div class="col-lg-10 col-lg-offset-1 customersInformation">
    </div>
</div>