#title, #main{
    text-align:center;
}

#title{
    font-size:24px;
}

.loading {
    margin: 0 auto;
    display: block;
}

.loadingSmall {
    background-image: url(https://cdn.labattfood.com/images/common/loading.gif);
    background-repeat: no-repeat;
    background-position: center;
}

.panel-heading {
    cursor: pointer;
}

.clickable {
    cursor: pointer;
}

.red {
    color: red;
}

.green {
    color: green;
}

#defaultAlgorithmText {
    padding-top: 14px;
}